/* div {
    outline: 2px solid red;
} */

body {
    background: #313c60;
    color: #2c5c54;
    text-shadow: 0 0 10px #cdd4e3;
    font-weight: bold;
    font-family: 'Michroma', sans-serif;
    font-size: 15px;
    margin: 0;
    min-height: 100vh;

    /* Grid background */
    background-image:
        repeating-linear-gradient(
            0deg,
            transparent,
            transparent 28px,
            #6d7ead 30px),
        repeating-linear-gradient(
            90deg,
            transparent,
            transparent 28px,
            #6d7ead 30px);
}

.top {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: #afb6c5;}

.top a {
    color: #2c5c54;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 0 10px #cdd4e3;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#clock {
    padding: 20px;
    margin-top: -30px;
    text-align: center;
}

h2 {
    font-size: 35px;
}

h2,
h3 {
    color: #48b7cc;
    text-shadow: none;
    position: relative;
    z-index: 1;
    margin: 5px 0;
}

form {
    background: #afb6c5;
    padding: 20px;
    width: 300px;
    border-radius: 7px;
}

form input,
form select {
    background: #231d28;
    color: #efb466;
    font-family: inherit;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
}

form button {
    background: #562134;
    border: none;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    color: #f7e79c;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 4px;
    text-shadow: 0 0 4px #313c60
}

form button:hover {
    background: #31131e;
    color: #f7e79c;
}

table {
    border-collapse: collapse;
    width: 90%;
    max-width: 800px;
    background: #231d28;
    border-radius: 7px;
}

thead th {
    padding: 8px;
    text-align: center;
    position: sticky;
    top: 0;
    background: #afb6c5;
}

tbody td {
    text-shadow: none;
    padding: 5px;
    text-align: center;
    color: #efb466;
    font-weight: bold;
    border-bottom: 1px solid #6d7ead55;
}

tbody tr {
    background: #231d28;
}

td form {
    display: inline;
    padding: 0;
}

td form button {
    display: inline-block;
    padding: 3px;
    border: 1px solid #6d7ead;
    background: #231d28;
    color: #efb466;
    cursor: pointer;
}

table button:hover {
    background: #31131e;
    color: #fff;
}

.table-container {
    max-height: 440px;
    overflow-x: hidden;
    width: 90%;
    max-width: 800px;
}

.table-container table {
    width: 100%;
    margin: 0;
}

.bottom {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.bottom a {
    display: inline-block;
    background: #afb6c5;
    padding: 12px 24px;
    border-radius: 7px;
    font-weight: bold;
    color: #0a0f0f;
    text-decoration: none;
}

.bottom a:hover {
    background: #2c5c54;
    color: #f7e79c;
    text-shadow: none;
}

.alert {
    text-align: center;
}

.filter-form {
    margin: 15px;
    background: #afb6c5;
    padding: 10px 15px;
    width: auto;
}

.filter-form input {
    color: #48b7cc;
    font-weight: bold;
    background: #313c60;
}

.filter-form input,
.filter-form button {
    width: auto;
    margin: 0;
}

.record-container {
    max-height: 170px;
    overflow-x: hidden;
    width: 90%;
    max-width: 800px;
}

.record-container table {
    width: 100%;
    margin: 0;
}

.summary-container {
    max-height: 200px;
    overflow-x: hidden;
    width: 90%;
    max-width: 800px;
}

.summary-container table {
    width: 100%;
    margin: 0;
}

.study-h2 {
    font-size: 60px;
}

.study-h3 {
    font-size: 30px;
}