{% extends "layout.html" %}

{% block title %}
Edit
{% endblock %}

{% block body %}

<div class="top">
    <a href="/">Back</a>
</div>
<div class="middle">
    <table>
        <thead>
            <tr>Task</tr>
            <tr>Work</tr>
            <tr>Rest</tr>
            <tr>Rep</tr>
        </thead>
        <tbody>
            <tr>
                <td>CS50</td>
                <td>50</td>
                <td>10</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Fullstackopen</td>
                <td>50</td>
                <td>10</td>
                <td>1</td>
            </tr>
            <tr>
                <td>CS:APP</td>
                <td>30</td>
                <td>5</td>
                <td>2</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>
<div class="botton">
    <button>Add</button>
    <button>Edit</button>
    <button>Delete</button>
</div>

{% endblock %}