{% extends "layout.html" %}

{% block title %}
Edit
{% endblock %}

{% block body %}
<div class="top">
    <a href="/tasks">Back</a>
</div>
<div class="middle">
    <h2>Subject</h2>
    <form action="/edit" method="post">
        <input name="id" type="hidden" value="{{ task.id }}">
        Name: <input name="name" type="text" value="{{ task.name }}">
        <br>
        Work time: <input name="work-time" type="number" value="{{ task.work }}" style="width: 205px;"> minutes
        <br>
        Rest time: <input name="rest-time" type="number" value="{{ task.rest }}" style="width: 205px;"> minutes
        <br>
        Repetition: <input name="repetition" type="number" value="{{ task.repetition }}" style="width: 205px;">
        <br>
        <button type="submit">Edit</button>
    </form>
</div>

{% endblock %}