{% extends "layout.html" %}

{% block title %}
Routine
{% endblock %}

{% block body %}

<div class="top">
    <a href="/edit">Edit</a>
    <a href="">Project: Routine</a>
    <a href="">Statistics</a>
</div>
<div class="middle">
    <h2>12:34</h2>
    <h3>Thu, Aug 7</h3>
    <p>Hours workded today: </p>
    
    <form action="/study" method="post">
        <select>
            <option disabled selected>Task</option>
            <option>Fullstackopen</option>
            <option>CS50</option>
        </select>
        <br>
        <input type="number" name="hour">
        :
        <input type="number" name="minute">
        <br>
        <button>Start</button>
    </form>
</div>

{% endblock %}